@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@600;700&family=Public+Sans:wght@200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #FCF8E7;
  font-size: 60.5%;
}

layer base {
  body {
    @apply font-secondary text-lg leading-8;
  }
  .h2 {
    @apply font-primary text-[30px] mb-6 tracking-[10%] uppercase;
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center mb-24;
  }
}
